<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/css/nasa.css">
    <script src="/static/js/v2/api.js"></script>
    <script src="/static/js/frontend.js"></script>
    <script src="/static/js/rest.js"></script>
    <!--<script src="/static/js/gibs/GIBSMetadata.js"></script>-->
    <!--<script src="/static/js/gibs/GIBSLayer.js"></script>-->

    <!--<style>-->
    <!--html, body{padding: 0; margin: 0;}-->
    <!--#earth_div{top: 0; right: 0; bottom: 0; left: 0;-->
    <!--background-color: #000; position: absolute !important;}-->
    <!--</style>-->
    <title>WebGL Earth API: Satellite</title>

    <script>


    </script>
</head>

<body onload="initialize()">

<div class="container">
    <div class="row">
        <div class="col-md-3 no-float text-center">
            <div class="ns-block text-center"><h1>S C I N T I L L A</h1></div>
            <div class="input-group input-group-lg ns-block">
                <input type="text" id='input_message' class="form-control"
                       placeholder="How are you breathing?"
                       aria-describedby="sizing-addon1">
                <span class="input-group-addon btn btn-default" id="sizing-addon1"
                      onclick="submitTweetCallback()" href="#aqi_div" data-toggle="collapse">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </span>
            </div>

            <div id="aqi_div" class="ns-block collapse panel panel-default">
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Panel title</h3>-->
                <!--</div>-->
                <div class="panel-body">
                   <h3 id='aqi_div_text' class="panel-title"> Panel content</h3>
                </div>
            </div>


            <div class="input-group input-group-lg ns-block">
                <input type="text" id='input_location' class="form-control"
                       placeholder="Check Other Locations"
                       aria-describedby="sizing-addon1">
                <span class="input-group-addon btn btn-default" id="sizing-addon2"
                      onclick="submitLocation()">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </span>
            </div>


            <div class="btn-group-vertical btn-group-lg ns-block">
                <button type="button" class="btn btn-primary"
                        onclick="mapOzone()">Ozone
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="mapCarbonMonoxide()">Carbon Monoxide
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="mapSulfurDioxide()">Sulfur Dioxide
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="mapDustScore()">Dust
                </button>
                <!--<button type="button" class="btn btn-primary"-->
                <!--onclick="mapDestroyLayers()">KABOOM!!</button>-->
            </div>

            <a class="twitter-timeline" href="https://twitter.com/airchecknasa"
               data-widget-id="724266085130723328">Tweets by @airchecknasa</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>


        <div class="col-md-9 col-md-offset-6 no-float">
            <div id="earth_div"></div>
        </div>
    </div>
    <!--

        <div class="row">

            <div class="col-md-3">This is a second page</div>
            <div class="col-md-9">THis is a thuird column</div>
            </div>
    -->

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')


</script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet'
      type='text/css'>
</body>
</html>